:root {
  --color-primary: #212121;
  --color-brend: #2196f3;
  --color-secondary: #757575;
  --color-light: #ffffff;
  --color-bg-dark: #2f303a;
  --color-logo: #000000;
}

header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  min-width: 320px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  /* width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline; */
  min-width: 320px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 96px 0;
  margin: 0 auto;
}

/* Header */

.header-hero {
  border-bottom: 1px solid #e7e9fc;
}

.header-hero .container {
  display: flex;
  padding: 15px 0 15px 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.main {
  /* display: flex;
  gap: 40px; */
  display: none;
}

.header-address-list {
  display: flex;
  /* gap: 40px; */
  margin: 0;
  flex-direction: column;
  gap: 15px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo .accent {
  color: #2e2f42;
}

.button-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: #2f2f37;
  background: transparent;
  outline: none;
  border: none;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
  position: relative;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  position: absolute;
  box-sizing: border-box;
  border-radius: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: #404bbf;
  content: "";
}

.header-address {
  font-style: normal;
  display: none;
}

.header-link:hover,
.contacts-link:hover,
.footer-link:hover {
  color: #404bbf;
}

.header-link:focus,
.footer-link:focus,
.contacts-link:focus {
  color: #404bbf;
}

.hero-cursor {
  cursor: pointer;
}

.hero-button-portfolio:hover {
  color: var(--color-light);
  background-color: var(--color-brend);
}

.hero-button-portfolio:focus {
  color: var(--color-light);
  background-color: var(--color-brend);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* Contacts */

.contacts-link {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #434455;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* Mobile menu */

.mobile-menu-conteiner {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f4f4fd;
  top: 0;
  left: 0;
  transition: 0.5s;
  transform: translateX(100%);
  padding: 70px 16px 40px 16px;
}

.mobile-menu-conteiner {
  transform: translateX(0);
}

.mobile-menu-top {
  flex-grow: 1;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-item {
  display: inline-block;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-nav-item .active {
  display: inline-block;
  color: #404bbf;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-nav-item:hover,
.mobile-nav-item:focus {
  color: #404bbf;
}

.contact-mobile {
  padding-bottom: 48px;
}

.mobile-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;
}

.mobile-contact-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.active {
  color: #404bbf;
  position: relative;
}

.mobile-contact-item .active {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mobile-contact-item:hover,
.mobile-contact-item:focus {
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link .icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

/* Hero section */

.hero-section {
  background-color: #2e2f42;
  /* max-width: 1440px; */
  max-width: 768px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  /* padding: 188px 0; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office320@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  /* font-size: 56px; */
  font-size: 36px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  /* max-width: 496px; */
  max-width: 288px;
  color: var(--color-light);
  text-align: center;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  display: block;
  padding: 16px 32px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  color: var(--color-light);
  border: none;
  background-color: #4d5ae5;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.225);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-portfolio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #212121;
  border: none;
  background-color: #f5f4fa;
  text-align: center;
  cursor: pointer;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Hidden section */

.hidden-section {
  padding: 120px 0;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-section-list {
  display: flex;
  /* gap: 24px; */
  flex-direction: column;
}

.list {
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
  width: 100%;
  margin-bottom: 72px;
}

.list:last-child {
  margin-bottom: auto;
}

.hidden-icon {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid color #8e8f99; */
  display: none;
}

.section-team {
  background-color: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}

.section-team img {
  max-width: 100%;
}

.product-designer {
  background-color: #ffffff;
  align-self: center;
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
  /* width: calc((100% - 3 * 24px) / 4); */
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-designer:last-child {
  margin-bottom: auto;
}

/* Benefit section */

.benefit-title {
  font-weight: 500;
  /* font-size: 20px; */
  font-size: 36px;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.benefit-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

/* Team section */

.person-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  border-bottom-left-radius: 4px;
  border-radius: 0px 0px 4px 4px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.person-div {
  padding: 32px 0;
  text-align: center;
}

.person-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.social-list .social {
  width: 40px;
  height: 40px;
}

.social {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
  background-color: #404bbf;
}

.icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.person-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #434455;
  text-align: center;
}

.person-title {
  background-color: #f5f4fa;
  display: flex;
  /* gap: 24px; */
  flex-direction: column;
  justify-content: center;
}

/* Portfolio section */

.portfolio-person-list {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-text {
  border-top: none;
}

.portfolio-list {
  display: flex;
  /* flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; */
  flex-direction: column;
}

.portfolio-list img {
  width: 100%;
}

.section-list {
  background-color: #ffffff;
  /* width: calc((100% - 48px) / 3); */
  width: 288px;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
  margin-bottom: 48px;
  align-self: center;
}

.section-list:last-child {
  margin-bottom: auto;
}

.portfolio-list .section-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-list:hover {
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-list:hover .portfolio-text {
  transform: translateY(0%);
}

.portfolio-icon {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

/* Footer section */

.footer {
  background-color: #2e2f42;
  text-decoration: none;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

.footer .container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-logo .accent {
  color: #f4f4fd;
}

.footer-link {
  /* margin-right: 120px; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.footer-address {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-address-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.footer-list {
  justify-content: space-between;
  display: flex;
  gap: 16px;
}

.footer-list > li {
  width: 40px;
  height: 40px;
}

.footer-list-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list .footer-social:focus,
.footer-list .footer-social:hover {
  background-color: #31d0aa;
}

.footer-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-paragraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* max-width: 264px; */
  color: #f4f4fd;
  /* text-align: center; */
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
}

.footer-subscribe {
  /* padding-left: 80px; */
  gap: 95px;
}

.footer-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.footer-form {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-lable::placeholder {
  color: #ffffff;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-svg {
  margin-left: 16px;
}

/* Modal */

.modal-conteiner {
  position: fixed;
  cursor: default;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* width: 408px; */
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* padding: 72px 24px 24px 24px; */
  padding: 24px;
  padding-top: 72px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  visibility: visible;
  opacity: 1;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.button-close {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  fill: #ffffff;
}

.modal-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-div {
  margin-bottom: 8px;
}

.modal-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  position: relative;
}

.lable-icon {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #4d5ae5;
}

.svg-lable {
  position: absolute;
  left: 16px;
  top: 50%;
  width: 18px;
  height: 24px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .svg-lable {
  outline: none;
  fill: #4d5ae5;
}

.textarea-form {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.lable-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-checkbox {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-input:checked + .lable-checkbox .span-checkbox {
  opacity: 1;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-privacy {
  text-decoration: underline;
  color: #404bbf;
}

.checkbox-privacy {
  color: #4d5ae5;
}

.checkbox-button {
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
